@model MyIdentityProject.ViewModels.PasswordResetModel

@{
    ViewData["Title"] = "ResetPasswordConfirm";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="shadow p-3 mb-5 bg-body rounded">
            @if (ViewBag.PasswordReset == "success")
            {
                <p class="alert alert-success">Şifreniz başarıyla güncellenmiştir . </p>
            }
            else
            {
                <h1 class="p-3 mb-2 bg-dark text-white rounded font-weight-normal " style="font-family :'Source Sans Pro'">Şifre Yenileme</h1>
                <form asp-action="ResetPasswordConfirm" method="Post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="PasswordNew" class="control-label"></label>
                        <input asp-for="PasswordNew" class="form-control" />
                        <span asp-validation-for="PasswordNew" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Şifreyi Yenile" class="btn btn-primary" />
                    </div>
                </form>
            }
            <hr />


        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
